In [1]:
# Necessary libraries
import os
import sys
import csv
import math
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stats

from pprint import pprint
import requests
import json

In [2]:
# Ach so...

# Import History Bulk data for Houston from OpenWeatherMap
city_list_path = os.path.join("HistoricalWeatherByCity", "4850674b7d8d779ae028900dd58b078e.json")

# create an empty DataFrame to store Houston Data
houston_df = pd.DataFrame()
day_date = []
weather = []

# read in the file
with open(city_list_path, encoding="utf8") as fp:     # must use UTF8 or you'll be in trouble
    city_list_data = fp.read()
    city_list_json = json.loads(city_list_data)       # seems like reading from string is faster than reading directly from file handle
    #pprint(city_list_json)
    
# Loop through the history data of Houston
for day in city_list_json:
    #pprint(day)
    day_date.append(day["dt_iso"].split(" ")[0])      # we knocked off the time of the day, keeping only the day
    weather.append(day["weather"][0]["main"])
        
# Add date and weather to dataframe
houston_df["Date"] = day_date
houston_df["Weather"] = weather
houston_df

            Date Weather
0     2015-06-12   Clear
1     2015-06-12  Clouds
2     2015-06-13  Clouds
3     2015-06-13  Clouds
4     2015-06-14    Rain
5     2015-06-14    Rain
6     2015-06-15  Clouds
7     2015-06-19  Clouds
8     2015-06-20  Clouds
9     2015-06-22  Clouds
10    2015-06-22  Clouds
11    2015-06-24   Clear
12    2015-06-24   Clear
13    2015-06-24   Clear
14    2015-06-24   Clear
15    2015-06-24   Clear
16    2015-06-24   Clear
17    2015-06-24    Rain
18    2015-06-24    Rain
19    2015-06-24    Rain
20    2015-06-24    Rain
21    2015-06-24   Clear
22    2015-06-25   Clear
23    2015-06-25   Clear
24    2015-06-25   Clear
25    2015-06-25   Clear
26    2015-06-25   Clear
27    2015-06-25   Clear
28    2015-06-25   Clear
29    2015-06-25   Clear
...          ...     ...
3544  2015-12-29  Clouds
3545  2015-12-29   Clear
3546  2015-12-29   Clear
3547  2015-12-29  Clouds
3548  2015-12-29   Clear
3549  2015-12-29   Clear
3550  2015-12-29   Clear
3551  2015-12-29   Clear
3552  2015-12-29   Clear
3553  2015-12-29   Clear
3554  2015-12-29  Clouds
3555  2015-12-29  Clouds
3556  2015-12-29  Clouds
3557  2015-12-30  Clouds
3558  2015-12-30  Clouds
3559  2015-12-30  Clouds
3560  2015-12-30  Clouds
3561  2015-12-30    Rain
3562  2015-12-30    Rain
3563  2015-12-30    Rain
3564  2015-12-30    Rain
3565  2015-12-30    Rain
3566  2015-12-30    Rain
3567  2015-12-30    Rain
3568  2015-12-30    Rain
3569  2015-12-30    Mist
3570  2015-12-30    Rain
3571  2015-12-30    Rain
3572  2015-12-30  Clouds
3573  2015-12-30  Clouds

[3574 rows x 2 columns]

In [3]:
# Since each day has 24 entries at this moment (because they're combined from different times of the day),
# We combine the days by getting the "main" weather of the day
houston_gby = houston_df.groupby("Date")
houston_df_new = houston_gby.describe()

# Get rid of the top level column "Weather"
houston_df_new.columns = houston_df_new.columns.droplevel()

# Reduce the index "Day" to a regular column
houston_df_new = houston_df_new.drop(columns = ["count", "unique", "freq"])
houston_df_new = houston_df_new.rename(columns = {"top": "Weather"})
houston_df_new = houston_df_new.reset_index(level = "Date")
houston_df_new

           Date Weather
0    2015-06-12  Clouds
1    2015-06-13  Clouds
2    2015-06-14    Rain
3    2015-06-15  Clouds
4    2015-06-19  Clouds
5    2015-06-20  Clouds
6    2015-06-22  Clouds
7    2015-06-24   Clear
8    2015-06-25   Clear
9    2015-06-26    Rain
10   2015-06-27   Clear
11   2015-06-28    Rain
12   2015-06-29   Clear
13   2015-06-30   Clear
14   2015-07-01    Rain
15   2015-07-02    Rain
16   2015-07-03    Mist
17   2015-07-04    Mist
18   2015-07-05    Mist
19   2015-07-06    Haze
20   2015-07-07    Mist
21   2015-07-08    Haze
22   2015-07-09    Mist
23   2015-07-10    Mist
24   2015-07-11   Clear
25   2015-07-12  Clouds
26   2015-07-13  Clouds
27   2015-07-14   Clear
28   2015-07-15   Clear
29   2015-07-16  Clouds
..          ...     ...
164  2015-12-01  Clouds
165  2015-12-02  Clouds
166  2015-12-03   Clear
167  2015-12-04   Clear
168  2015-12-05   Clear
169  2015-12-06    Mist
170  2015-12-07    Mist
171  2015-12-08    Mist
172  2015-12-09     Fog
173  2015-12-10    Mist
174  2015-12-11   Clear
175  2015-12-12  Clouds
176  2015-12-13    Rain
177  2015-12-14   Clear
178  2015-12-15     Fog
179  2015-12-16   Clear
180  2015-12-17   Clear
181  2015-12-18   Clear
182  2015-12-19   Clear
183  2015-12-20  Clouds
184  2015-12-21  Clouds
185  2015-12-22    Mist
186  2015-12-23    Mist
187  2015-12-24    Mist
188  2015-12-25    Mist
189  2015-12-26    Rain
190  2015-12-27    Rain
191  2015-12-28  Clouds
192  2015-12-29  Clouds
193  2015-12-30    Rain

[194 rows x 2 columns]

In [6]:
# Export csv file to be read from code
weather_day_houston = os.path.join("HistoricalWeatherByCity", "weather_day_houston.csv")
houston_df_new.to_csv(weather_day_houston)

In [5]:
# # Trying to pull historical weather data of Houston
# api_key = "5e49b0c850789c4d3deba0e75377ec98"
# url = "http://api.openweathermap.org/data/2.5/history/city?"
# city = "Houston, US"
# units = "imperial"
# start = "1420070400"
# end = "1451606400"

# # Build query URL
# query_url = url + "appid=" + api_key + "&q=" + city +"&units=" + units + "&type=hour" + "&start=" + start + "&end=" + end

# # Get data
# weather_houston = requests.get(query_url).json()
# pprint(weather_houston)